h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px 20px 20px 20px; 
}

.mainTable{
    margin: auto;   
    border-spacing: 10px;
}


#cell1{
    background-color: #DE6B48;
    width:  200px;
    height: 400px;
    
}

#cell2{
    background-color: #F4B9B2;
    width:  200px;
    height: 400px;
}

#cell3{
    background-color: #DAEDBD;
    width:  200px;
    height: 400px;
}

#cell4{
    background-color:#F1A66A;
    width:  200px;
    height: 400px;
}

#cell5{
    background-color: #7DBBC3;
    width:  200px;
    height: 400px;
}